* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --green: #14AE5C;
    --white: #ffffff; 

  }

body {
	font-family: 'Inter ', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
section {
	display: flex;
	flex-direction: column;
	
	
}
.logo{
    display: flex;
    width: 7%;
    align-items: center;
}
@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header a {
	text-transform: capitalize;
	font-weight: 900;
}
header h2 {
	text-transform: uppercase;
}
header .nav {
	display: flex;
}
header .nav li {
	margin: 0 15px;
}
header .nav li:first-child {
	margin-left: 0;
}
header .nav li:last-child {
	margin-right: 0;
}
@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header .nav li {
		margin: 0 7px;
	}
}
.box {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: rgb(255, 255, 255);
    align-items: center;
	
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.box h1 {
   flex: display;
	margin-bottom: 15px;
	font-size: 32px;
    color: #F24822;
	text-align: center;
	
}
.box h3 {
	margin-bottom: 40px;
	font-size: 25px;
}
.box a.boxBtn {
	padding: 15px 35px;
	background: transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	border: 4px solid #fff;
	transition: all .5s;
}
.box a.boxBtn:hover {
	background: #fff;
	color: #000;
}
@media (max-width: 800px) {
	.box {
		min-height: 600px;
	}
	.box h1 {
		font-size: 32px;
	}
	.box h3 {
		font-size: 20px;
	}
	.box a.boxBtn {
		padding: 15px 40px;
	}
}
h2{
	color: var(--green);
}
.card{
    width: 90%;
    display: flex;
    padding: 40px;
    background: rgba(101, 137, 103, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(80px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid var(--green);
}
.left{
    width: 50%;
    padding: 40px;
    border-radius: 16px;
    border: 3px solid var(--green);
}
.right{
    width: 50%;
    margin-left: 10px;
    padding: 40px;
    border-radius: 16px;
    border: 3px solid var(--green);
}
#childAge{
    display: flex;
    font-size: small;
    align-items: flex-start;
}
ticket-radio{
	display: flex;
	
	
	
	
}

.radio-input{
	overflow: hidden;
	
}
.radio-label{

	border-radius: 16px;
	padding: 8px 14px;
	font-size: 14px;
	font-family: sans-serif;
	color: var(--white);
	background: var(--green);
	cursor: pointer;
	transition: background 0.5s;
	margin: 5px;
}

.radio-input:checked{
	background-color: #ba6c25;
}


.box1 {
    margin-left: auto;
    margin-right: auto;
	display: flex;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    align-items: center;
    
  }
  .box1 video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .box1 h1 {
     flex: display;
    margin-bottom: 15px;
    font-size: 32px;
      color: #F24822;
    text-align: center;
    
  }
  .box1 h3 {
    margin-bottom: 40px;
    font-size: 25px;
  }
  .box1 a.box1Btn {
    padding: 15px 35px;
    background: transparent;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
  }
  .box1 a.box1Btn:hover {
    background: #fff;
    color: #000;
  }
  @media (max-width: 800px) {
    .box1 {
      min-height: 600px;
    }
    .box1 h1 {
      font-size: 32px;
    }
    .box1 h3 {
      font-size: 20px;
    }
    .box1 a.box1Btn {
      padding: 15px 40px;
    }
  }